.about-us{
  text-align: left;
}

.about-us__items h2{
  margin-bottom: 30px;
}

.about-us__item{
  fill: $color-lightturquoise;
  margin-bottom: 35px;
}

.about-us__item:last-child{
  margin-bottom: 0;
}

.about-us__icon{
  margin: 0 0 15px 10px;
}

.about-us__item p{
  font-size: $font-size-h3;
  font-weight: bold;
  line-height: 20px;
}

.icon-price{
  position: relative;
  left: -10px;
  top: -5px;
}

.icon-round{
  position: relative;
  left: -5px;
  top: 0px;
}

.icon-rocket{
  position: relative;
  left: -15px;
  top: -5px;
}

.icon-present{
  position: relative;
  left: -7px;
  top: 0px;
}

@media (min-width: 768px){
  .about-us__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 75px 0 0;
  }

  .about-us__items h2{
    font-size: 43px;
    line-height: 30px;
    width: 100%
  }

  .about-us__item{
    width: 50%;
  }

  .about-us__items p{
    max-width: 300px;
  }
}
