.btn{
  width: 260px;
  min-height: 52px;
  color: $color-gray;
  background: $color-white;
  border: 2px solid $color-gray;
  font-size: 18px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}

.btn-order{
  width: 100%;
  margin-top: 25px;
}

.btn-write{
  width: 100%;
}
