.page-header {
  position: absolute;
  width: 100%;
  margin: 0 -30px;
  background: $color-white;
  z-index: 1;
}

.main-nav {
  display: flex;
  flex-direction: column;
}

.page-header__header-logo {
  order: 1;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.main-nav__1 {
  order: 2;
  display: none;
}

.main-nav__2 {
  order: 3;
  display: none;
}

.main-nav__3 {
  order: 4;
  display: none;
}

.page-header__menu-hamburger {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 30px;
  right: 30px;
  fill: $color-black;
  cursor: pointer;
}

.mobile-header-logo {
  width: 86px;
  height: 35px;
}

.main-nav__item {
  display: block;
  height: 80px;
  border-bottom: 1px solid $color-lightgray;
  padding: 25px 0 20px 75px;
}

.main-nav__2 .main-nav__item {
  padding-left: 25px;
}

.main-nav a,
.main-nav button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: $color-black;
}

.icon-cart,
.icon-search {
  width: 20px;
  height: 18px;
  margin-right: 25px;
  fill: rgba(0,0,0, 0.5);
}

.desktop-header-logo,
.tablet-header-logo {
  display: none;
}

.delivery {
  display: none;
}
@media (min-width: 768px) {
  .page-header{
    margin: 0 -50px;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .page-header__header-logo {
    order: 1;
    text-align: left;
    width: 345px;
    border-right: 1px solid $color-lightgray;
    border-bottom: 1px solid $color-lightgray;
    padding-left: 25px;
  }

  .main-nav__2 {
    order: 2;
    display: flex;
    justify-content: row;
    justify-content: flex-start;
    width: 400px;
    border-bottom: 1px solid $color-lightgray;
  }

  .main-nav__1 {
    order: 3;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 375px;
    padding-left: 25px;
    background-color: inherit;
  }

  .main-nav__3 {
    order: 4;
    display: block;
    width: 300px;
    padding: 25px 0 20px 0;
  }

  .main-nav__2 .main-nav__item:nth-of-type(1){
    border-right: 1px solid $color-lightgray;
  }

  .page-header__menu-hamburger {
    display: none;
  }

  .icon-card-text,
  .icon-search-text {
    display: none;
  }

  .main-nav__item {
    padding: 25px 0 20px;
    border: none;
  }

  .main-nav__3 .main-nav__item{
    display: none;
  }

  .delivery{
    display: block;
    text-align: right;
  }

}
@media (min-width: 1150px) {}
