.page-header {
    position: absolute;
    width: 100%;
    margin: 0 -30px;
    background: $color-white;
}

.main-nav {
    display: flex;
    flex-direction: column;
}

.page-header__header-logo {
    order: 1;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.main-nav__1 {
    order: 2;
}

.main-nav__2 {
    order: 3;
}

.main-nav__3 {
    order: 4;
    display: none;
}

.page-header__menu-hamburger {
    position: absolute;
    width: 20px;
    height: 14px;
    top: 30px;
    right: 30px;
    fill: $color-black;
    cursor: pointer;
}

.mobile-header-logo {
    width: 86px;
    height: 35px;
}

.main-nav__item {
    display: block;
    height: 80px;
    border-bottom: 1px solid $color-lightgray;
    padding: 25px 0 20px 75px;
}

.main-nav__2 .main-nav__item {
    padding-left: 25px;
}

.main-nav a,
.main-nav button {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: $color-black;
}

.icon-cart,
.icon-search {
    width: 20px;
    height: 18px;
    margin-right: 25px;
    fill: rgba(0,0,0, 0.5);
}

.desktop-header-logo,
.tablet-header-logo {
    display: none;
}

.delivery {
    display: none;
}
