.week-sale{
    position: relative;
    padding: 30px 0 70px;
    text-align: left;
}

.item-sale{
  color: $color-lightturquoise;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  margin: 5px 0 20px;
}

.week-sale__about p{
  line-height: 25px;
}

table{
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

td{
  min-width: 100px;
  padding: 20px 0 0;
  text-align: left;
  border-bottom: 1px solid #444;
  font-size: 15px;
  color: $color-gray;
}

.price{
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $color-gray;
  margin-top: 380px;
  text-align: center;
}

.week-sale__picture{
  position: absolute;
  top: 345px;
}
